{% extends "layouts/home.html" %}<!---->
{% block title %} {{domain}} | A unique real estate strategy, your welfare and
financial freedom is guaranteed {% endblock title %} {% block content %}

<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url(/assets/home/images/background/3.jpg)"
>
  <div class="auto-container">
    <h1>Faq's</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>About</li>
      <li>Faq</li>
    </ul>
  </div>
</section>
<!-- End Page Title -->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Content Side -->
      <div class="content-side col-lg-9 col-md-12 col-sm-12">
        <div class="faq-page-section">
          <!-- Title Box -->
          <div class="title-box">
            <div class="title">FAQ’S</div>
            <h2>Frequently Asked <span>Questions</span></h2>
          </div>
          <h3></h3>
          <p></p>

          <!-- Accordian Box -->
          <ul class="accordion-box">
            <!-- Block -->
            <li class="accordion block active-block">
              <div class="acc-btn active">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                How do I open my {{domain}} Account?
              </div>
              <div class="acc-content current">
                <div class="content">
                  <div class="text">
                    It's quite easy and convenient. Follow this link, fill in
                    the registration form and then press "Sign Up"
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                What if I can't log into my account because I forgot my
                password?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    Click forgot password link, type your username or e-mail and
                    you'll receive your account information.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                May I open several accounts in your program?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    No. If we find that one member has more than one account,
                    the entire funds will be frozen.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                How can I access the account?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    If you are a registered user of {{domain}}, please enter
                    your username and password in the suitable fields and click
                    "Login" button. You will be redirected to your account
                    automatically.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                What do I need to start investing with {{domain}}?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    First of all, you need to register a new account, select an
                    investment plan and make a deposit at least $100 through the
                    available payment methods.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Which e-currencies do you accept?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    For now, we operate with payment systems of Bitcoin,
                    Ethereum and Polygon coin (matic)
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Is principal included in hourly interest?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    No, principal is not included in your daily interest. So
                    principal is returned after your plan expiration.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                How to buy Bitcoin(Cryptocurrency) Online?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    You can buy Bitcoin(Cryptocurrency) from Cryptocurrency
                    exchanges, including Coinbase.com, binance.com,
                    Localbitcoins.com, coinmama.com and more..
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                How do you calculate the interest on my account?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    Depending on each plan. Interest on your {{domain}} account
                    is acquired hourly credited to your available balance.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Can I make multiple deposits?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    Yes, you can make multiple deposits in same plan in the same
                    time. The only one rule left is the system don't allow
                    multiple plans active in the same time or cross the plans
                    because it will effect your withdrawal function in our
                    system. But you can make multiple deposits in same plan.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                After I make a withdrawal request, when will the funds be
                available on my e-currency or Cryptocurrency account?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    All withdrawals are instant. but if the withdraw meet
                    payment processors issue, server or technial problem or some
                    other issue, it can take up to 24 hours.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                What is the minimum and maximum amount that can be withdrawn?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    The minimum withdrawal from our system is $10 while there's
                    no maximum limit for withdrawal
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Do you have an affiliate program?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    Yes, we have. You will receive 10% Ref commission on each
                    deposit from members you invited to the project. To do this,
                    they must enroll in your account. Your referral link will be
                    available in the Personal Area after registration.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Are active deposits required from me before I can earn affiliate
                commission?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    No, you don't have to be active investor to earn UP To 10%
                    referral commission.
                  </div>
                </div>
              </div>
            </li>

            <!-- Block -->
            <li class="accordion block">
              <div class="acc-btn">
                <div class="icon-outer">
                  <span class="icon icon-plus fa fa-plus"></span>
                  <span class="icon icon-minus fa fa-minus"></span>
                </div>
                Can I get banners and other promotional material to refer new
                clients?
              </div>
              <div class="acc-content">
                <div class="content">
                  <div class="text">
                    Yes, we provide a range of banners you can add to your web
                    pages. You can get them on your personal account.
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Sidebar Page Container -->
{% endblock content %}
