{% extends "layouts/home.html" %}<!---->
{% block title %} {{domain}} | A unique real estate strategy, your welfare and
financial freedom is guaranteed {% endblock title %} {% block content %}
<!-- Banner Section -->
<section class="banner-section">
  <div class="main-slider-carousel owl-carousel owl-theme">
    <div
      class="slide"
      style="
        background-image: url(/assets/home/images/main-slider/pexels-christina-morillo-1181408.jpg);
      "
    >
      <div class="color-layer-one"></div>
      <!--<div class="color-layer-two" style="background-image: url(/assets/home/images/main-slider/image-2.jpg)"></div>-->
      <div class="auto-container">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title"></div>
              <h1>
                WELCOME<br />
                <span>{{domain}}</span>
              </h1>
              <br />
              <div class="text">
                <br />Here we render world-class financial services for every
                smart investor and those who are willing to achieve their
                financial freedom
              </div>
              <div class="btns-box">
                <a href="?a=support" class="theme-btn btn-style-one"
                  ><span class="txt">Support</span></a
                >
                <a href="?a=about" class="theme-btn btn-style-two"
                  ><span class="txt">About</span></a
                >
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="image">
                <!--<img src="/assets/home/images/main-slider/content-image-1.png" alt="" />-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="slide"
      style="
        background-image: url(/assets/home/images/main-slider/pexels-rebrand-cities-1367272.jpg);
      "
    >
      <div class="color-layer-one"></div>
      <!--<div class="color-layer-two" style="background-image: url(/assets/home/images/main-slider/image-2.jpg)"></div>-->
      <div class="auto-container">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title"></div>
              <h1>
                STABLE SYSTEM<br />
                <span> FOR DAILY CASHOUTS</span>
              </h1>
              <br />
              <div class="text">
                With a unique real estate strategy, your welfare and financial
                freedom is {{domain}} Value<br />
              </div>
              <div class="btns-box">
                <a href="?a=support" class="theme-btn btn-style-one"
                  ><span class="txt">Support</span></a
                >
                <a href="?a=about" class="theme-btn btn-style-two"
                  ><span class="txt">About</span></a
                >
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="image">
                <!--	<img src="/assets/home/images/main-slider/content-image-1.png" alt="" />-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="slide"
      style="
        background-image: url(/assets/home/images/main-slider/pexels-burst-374023.jpg);
      "
    >
      <div class="color-layer-one"></div>
      <!--<div class="color-layer-two" style="background-image: url(/assets/home/images/main-slider/image-2.jpg)"></div>-->
      <div class="auto-container">
        <div class="row clearfix">
          <!-- Content Column -->
          <div class="content-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title"></div>
              <h1>
                SMART INVESTORS ARE HERE,
                <span> YOU SHOULD BE HERE TOO.</span>
              </h1>
              <br /><br />
              <div class="text">Partner with us today!</div>
              <div class="btns-box">
                <a href="?a=support" class="theme-btn btn-style-one"
                  ><span class="txt">Support</span></a
                >
                <a href="?a=about" class="theme-btn btn-style-two"
                  ><span class="txt">About</span></a
                >
              </div>
            </div>
          </div>

          <!-- Image Column -->
          <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="image">
                <!--	<img src="/assets/home/images/main-slider/content-image-1.png" alt="" />-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--	 <section class="feature-section">
		<div class="auto-container">
<center><iframe width="650" height="350" src="https://www.youtube.com/embed/xDZIo0HL1S0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
	</section>
	<!-- End Banner Section
	<div class="sec-title centered">
				<div class="title">Bitcoin Calculator</div>
<center> <script src="https://widgets.coingecko.com/coingecko-coin-converter-widget.js"></script>
<coingecko-coin-converter-widget  coin-id="bitcoin" currency="usd" background-color="#ffffff" font-color="#4c4c4c" locale="en"></coingecko-coin-converter-widget></center>
	<!-- Feature Section -->
  <section class="feature-section">
    <div class="auto-container">
      <!-- Sec Title -->
      <br />
      <div class="sec-title centered">
        <div class="title">Our Features!</div>
        <h2>We Are The Trusted <span>Experts</span></h2>
      </div>
      <div class="row clearfix">
        <!-- Blocks Column -->
        <div class="blocks-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="row clearfix">
              <!-- Feature Block -->
              <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-bar-chart"></span>
                  </div>
                  <h6><a href="">Business</a></h6>
                  <div class="text">
                    Online business, guaranteed profits with us
                  </div>
                </div>
              </div>

              <!-- Feature Block -->
              <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-padlock-1"></span>
                  </div>
                  <h6><a href="">Security</a></h6>
                  <div class="text">
                    The safety of our clients is our priority
                  </div>
                </div>
              </div>

              <!-- Feature Block -->
              <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-graduation-cap"></span>
                  </div>
                  <h6><a href="">Our Company</a></h6>
                  <div class="text">
                    Our company legally registered in United Kingdom
                  </div>
                </div>
              </div>

              <!-- Feature Block -->
              <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                  <div class="icon-box">
                    <span class="icon flaticon-loupe-1"></span>
                  </div>
                  <h6><a href="">Solutions</a></h6>
                  <div class="text">
                    Our support is online 24/7 to assist you
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Image Column -->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="image">
              <video
                src="video/video.mp4"
                style="max-width: 100%; height: auto"
                controls
                poster="vidplay.gif"
                loop
                border="1"
                alt=""
              ></video>
              <!-- Feature Block Two 
							<div class="feature-block-two">
								<div class="inner-box">
									<div class="icon-box">
										<span class="icon flaticon-mission"></span>
									</div>
									<h6><a href="">Our Success</a></h6>
									<div class="text">With over 5,000 investors, over 12,000 successful trades, and years of experience, we have a record for high performance globally.</div>
								</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Feature Section -->

  <!-- Story Section -->
  <section class="story-section">
    <div
      class="pattern-layer"
      style="
        background-image: url(/assets/home/images/background/pattern-7.png);
      "
    ></div>
    <div
      class="pattern-layer-two"
      style="
        background-image: url(/assets/home/images/background/pattern-8.png);
      "
    ></div>
    <div class="auto-container">
      <div class="row clearfix">
        <!-- Content Column -->
        <div class="content-column col-lg-8 col-md-12 col-sm-12">
          <div class="inner-column">
            <div class="title">ABOUT</div>
            <h2>{{domain}}</h2>
            <p>
              {{domain}} is an experienced real estate company based in United
              Kingdom Lunched in Mar 31, 2017, we are an investment company,
              offering forex, real estate, renewable energy, modern agriculture
              and other financial instruments for investors.
              <br />We allocate investor's funds to financial instruments in
              trading and manage these trades to bring profits for investors.
              <br />With over 5000 investors, over 12000 successful trades, and
              years of experience, we have a record for high performance
              globally.
            </p>
            <div class="row clearfix">
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <ul class="list-style-three">
                  <li>Registered United Kingdom Company</li>
                  <li>24/7 Online Support</li>
                  <li>Instant Payments</li>
                </ul>
              </div>
              <div class="column col-lg-6 col-md-6 col-sm-12">
                <ul class="list-style-three">
                  <li>Accept Cryptocurrencies</li>
                  <li>Trading Company</li>
                  <li>Securely Ssl, DDoS</li>
                </ul>
              </div>
            </div>
            <div class="btn-box">
              <a href="?a=signup" class="theme-btn btn-style-four"
                ><span class="txt">SIGN UP</span></a
              >
            </div>
          </div>
        </div>
        <!-- Counter Column -->
        <div class="counter-column col-lg-4 col-md-12 col-sm-12">
          <div class="inner-column">
            <!-- Fact Counter Two -->
            <div class="fact-counter-two">
              <div class="row clearfix">
                <!-- Column -->
                <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                  <div
                    class="inner wow fadeInLeft"
                    data-wow-delay="0ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="content">
                      <!--                      -->
                      <div class="icon flaticon-like-1"></div>
                      <div class="count-outer count-box">
                        <span class="count-text" data-speed="3500">2033</span>
                      </div>
                      <div class="counter-title">Running Days</div>
                    </div>
                  </div>
                </div>

                <!-- Column -->
                <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                  <div
                    class="inner wow fadeInLeft"
                    data-wow-delay="300ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="content">
                      <!--                      -->
                      <div class="icon flaticon-team"></div>
                      <div class="count-outer count-box">
                        <span class="count-text" data-speed="2500">3562</span>
                      </div>
                      <div class="counter-title">total Investors</div>
                    </div>
                  </div>
                </div>

                <!-- Column -->
                <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                  <div
                    class="inner wow fadeInLeft"
                    data-wow-delay="600ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="content">
                      <!--                      -->
                      <div class="icon flaticon-soccer-cup"></div>
                      <div class="count-outer count-box">
                        <span class="count-text" data-speed="3000"
                          >$3253717.78</span
                        >
                      </div>
                      <div class="counter-title">Total Deposited</div>
                    </div>
                  </div>
                </div>
                <br />
                <br />
                <br />
                <br />

                <div class="column counter-column col-lg-6 col-md-6 col-sm-12">
                  <div
                    class="inner wow fadeInLeft"
                    data-wow-delay="600ms"
                    data-wow-duration="1500ms"
                  >
                    <div class="content">
                      <div class="icon flaticon-chart"></div>
                      <div class="count-outer count-box">
                        <span class="count-text" data-speed="3000"
                          >$7668713</span
                        >
                      </div>
                      <div class="counter-title">Total withdraw</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Story Section -->

  <div class="sec-title centered">
    <div class="title">------</div>
    <h2>-----<span>-----</span></h2>
    <div class="feature-block-two">
      <div class="inner-box">
        <div class="icon-box">
          <span class="icon flaticon-mission"></span>
        </div>
        <h6><a href="">Our Mission</a></h6>
        <div class="text">
          Our experts can analyze the market and draw conclusions based on its
          fluctuations, applying new approaches and trading methods. Attracting
          investments is the best way to ensure the growth of our business. Our
          investment platform offers beneficial investment opportunities that
          allow all our clients to make money on the Internet. By employing only
          highly experienced financial experts, we minimize any financial risks
          and ensure that our investors receive a stable income, with payments
          accrued every single consecutive day. All of our employees are skilled
          professionals with a solid experience in the industry; they play with
          the exchange rates to extract a large profit from a real estate pump.
        </div>
      </div>
    </div>
  </div>

  <!--Sponsors Section-->
  <section class="sponsors-section">
    <div class="outer-container">
      <div class="carousel-outer">
        <!--Sponsors Slider-->
        <ul class="sponsors-carousel owl-carousel owl-theme">
          <li>
            <div class="image-box">
              <a href="#"
                ><img src="/assets/home/images/clients/1.png" alt=""
              /></a>
            </div>
          </li>
          <li>
            <div class="image-box">
              <a href="#"
                ><img src="/assets/home/images/clients/3.png" alt=""
              /></a>
            </div>
          </li>
          <li>
            <div class="image-box">
              <a href="#"
                ><img src="/assets/home/images/clients/4.png" alt=""
              /></a>
            </div>
          </li>
          <li>
            <div class="image-box">
              <a href="#"
                ><img src="/assets/home/images/clients/5.png" alt=""
              /></a>
            </div>
          </li>
          <li>
            <div class="image-box">
              <a href="#"
                ><img src="/assets/home/images/clients/8.png" alt=""
              /></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!--End Sponsors Section-->

  <!-- Pricing Page Section -->
  <div class="price-page-section">
    <div class="auto-container">
      <div class="row clearfix">
        <!-- Price Block -->
        <div class="price-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-bar-chart"></span>
            </div>
            <div class="price-box">
              <div class="title">STARTER PLAN</div>
              <div class="price"><span>15%</span></div>
            </div>
            <ul class="price-list">
              <li>After 24 hrs</li>
              <li>Min - $50</li>
              <li>Max - $500</li>
              <li>Principal Included</li>
              <li>Instant Payments</li>
              <li>24/7 Customer Support</li>
            </ul>
            <div class="lower-box">
              <a class="arrow" href="?a=login"
                ><span class="txt">Invest Now</span
                ><span class="arrow-icon flaticon-right-arrow-1"></span
              ></a>
            </div>
          </div>
        </div>

        <!-- Price Block -->
        <div class="price-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-bar-chart"></span>
            </div>
            <div class="price-box">
              <div class="title">ADVANCE PLAN</div>
              <div class="price"><span>30%</span></div>
            </div>
            <ul class="price-list">
              <li>After 24 hrs</li>
              <li>Min - $300</li>
              <li>Max - $1000</li>
              <li>Principal Included</li>
              <li>Instant Payments</li>
              <li>24/7 Customer Support</li>
            </ul>
            <div class="lower-box">
              <a class="arrow" href="?a=login"
                ><span class="txt">Invest Now</span
                ><span class="arrow-icon flaticon-right-arrow-1"></span
              ></a>
            </div>
          </div>
        </div>

        <!-- Price Block -->
        <div class="price-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-bar-chart"></span>
            </div>
            <div class="price-box">
              <div class="title">CLASSIC PLAN</div>
              <div class="price"><span>50%</span></div>
            </div>
            <ul class="price-list">
              <li>After 48 hrs</li>
              <li>Min - $500</li>
              <li>Max - $3000</li>
              <li>Principal Included</li>
              <li>Instant Payments</li>
              <li>24/7 Customer Support</li>
            </ul>
            <div class="lower-box">
              <a class="arrow" href="?a=login"
                ><span class="txt">Invest Now</span
                ><span class="arrow-icon flaticon-right-arrow-1"></span
              ></a>
            </div>
          </div>
        </div>
        <!-- Price Block -->
        <div class="price-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-bar-chart"></span>
            </div>
            <div class="price-box">
              <div class="title">EXPERT PLAN</div>
              <div class="price"><span>75%</span></div>
            </div>
            <ul class="price-list">
              <li>After 72 hrs</li>
              <li>Min - $3000</li>
              <li>Max - $10000</li>
              <li>Principal Included</li>
              <li>Instant Payments</li>
              <li>24/7 Customer Support</li>
            </ul>
            <div class="lower-box">
              <a class="arrow" href="?a=login"
                ><span class="txt">Invest Now</span
                ><span class="arrow-icon flaticon-right-arrow-1"></span
              ></a>
            </div>
          </div>
        </div>

        <!-- Price Block -->
        <div class="price-block col-lg-4 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="icon-box">
              <span class="icon flaticon-bar-chart"></span>
            </div>
            <div class="price-box">
              <div class="title">SHAREHOLDER PLAN</div>
              <div class="price"><span>100%</span></div>
            </div>
            <ul class="price-list">
              <li>After 92 hrs</li>
              <li>Min - $5000</li>
              <li>Max - $Unlimited</li>
              <li>Principal Included</li>
              <li>Instant Payments</li>
              <li>24/7 Customer Support</li>
            </ul>
            <div class="lower-box">
              <a class="arrow" href="?a=login"
                ><span class="txt">Invest Now</span
                ><span class="arrow-icon flaticon-right-arrow-1"></span
              ></a>
            </div>
          </div>
        </div>
        <!-- Price Block 
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-bar-chart"></span>
						</div>
            <div class="price-box">
							<div class="title">Real Estate 2</div>
							<div class="price"><span>Litigation Finance</span></div>
						<div class="price"><span>APY: 37.5%</span></div>
						</div>
						<ul class="price-list">
						    <li>After 6 Months</li>
							<li>Min - $2,500.00</li>
							<li>Principal Included</li>
							<li>Instant Payments</li>
							<li>24/7 Customer Support</li>
						</ul>
						<div class="lower-box">
							<a class="arrow" href="?a=login"><span class="txt">Invest Now</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>
				<!-- Price Block 
				<div class="price-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-bar-chart"></span>
						</div>
            <div class="price-box">
							<div class="title">Real Estate 3</div>
							<div class="price"><span>Purchase Order</span></div>
						<div class="price"><span>APY: 46.5%</span></div>
						</div>
						<ul class="price-list">
						    <li>After 9 Months</li>
							<li>Min - $5,000.00</li>
							<li>Principal Included</li>
							<li>Instant Payments</li>
							<li>24/7 Customer Support</li>
						</ul>
						<div class="lower-box">
							<a class="arrow" href="?a=login"><span class="txt">Invest Now</span><span class="arrow-icon flaticon-right-arrow-1"></span></a>
						</div>
					</div>
				</div>-->
      </div>
    </div>
  </div>
  <!-- End Pricing Page Section -->

  <style type="text/css">
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
      padding: 11px;
    }
  </style>

  <section>
    <div class="container">
      <div class="section-content">
        <div class="row">
          <div class="col-md-6">
            <h3
              class="text-uppercase line-bottom-double-line-centered mt-0"
              style="text-align: center"
            >
              Latest <span class="text-theme-colored2">Deposit</span>
            </h3>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img
                      src="/assets/home/images/1002.png
"
                    />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img
                      src="/assets/home/images/1000.png
"
                    />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img
                      src="/assets/home/images/1002.png
"
                    />
                  </td>
                  <td class="menutxt">
                    <span class="liondepositsamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <h3
              class="text-uppercase line-bottom-double-line-centered mt-0"
              style="text-align: center"
            >
              Latest <span class="text-theme-colored2">Withdrawal</span>
            </h3>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1000.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
                <tr>
                  <td class="menutxt">
                    <img src="/assets/home/images/1002.png" />
                  </td>
                  <td class="menutxt">
                    <span class="lioncashoutamt">...</span>
                  </td>
                  <td class="menutxt">
                    <span class="lioninvestors">...</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team Section-->
  <section class="team-section">
    <div
      class="pattern-layer"
      style="
        background-image: url(/assets/home/images/background/pattern-3.png);
      "
    ></div>
    <div class="auto-container">
      <!-- Sec Title-->
      <div class="sec-title centered">
        <div class="title">Our Portfolio</div>
        <h2>4 <span>Top Invested Projects</span></h2>
      </div>
      <div class="row clearfix">
        <!-- Team Block-0-->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/1.png" alt="" />
              <!-- Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
										<ul class="social-box">
											<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
											<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
											<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
											<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
										</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Crude Oil</a></h4>
              <div class="designation">Oil and Gas Station</div>
            </div>
          </div>
        </div>

        <!-- Team Block-->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/2.png" alt="" />
              <!-- Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
										<ul class="social-box">
											<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
											<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
											<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
											<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
										</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Renewable Energy</a></h4>
              <div class="designation">Saving the Planet</div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/11.png" alt="" />
              <!-- Overlay Box -->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
										<ul class="social-box">
											<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
											<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
											<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
											<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
										</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Real Estate</a></h4>
              <div class="designation">
                Millions of $ Annual Income Projects
              </div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/12.png" alt="" />
              <!-- Overlay Box -->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
										<ul class="social-box">
											<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
											<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
											<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
											<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
										</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Modern Agriculture</a></h4>
              <div class="designation">Food - Drugs</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->

  <div class="sec-title centered">
    <div class="title">------</div>
    <h2>-----<span>-----</span></h2>
    <div class="feature-block-two">
      <div class="inner-box">
        <div class="icon-box">
          <span class="icon flaticon-mission"></span>
        </div>
        <h6><a href="">Our Cambodia Partners</a></h6>
        <img
          src="/assets/home/images/partners.png"
          style="max-width: 100%; height: auto"
          alt=""
        />
      </div>
    </div>
  </div>

  <!-- Team Section-->
  <section class="team-section">
    <div
      class="pattern-layer"
      style="
        background-image: url(/assets/home/images/background/pattern-3.png);
      "
    ></div>
    <div class="auto-container">
      <!-- Sec Title-->
      <div class="sec-title centered">
        <div class="title">Best Features</div>
        <h2>Why <span>Clients Choose Us</span></h2>
      </div>
      <div class="row clearfix">
        <!-- Team Block-0-->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/1.gif" alt="" />
              <!-- Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Walk In </a></h4>
              <div class="designation">Great Customer Approach</div>
            </div>
          </div>
        </div>

        <!-- Team Block-->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/2.gif" alt="" />
              <!-- Overlay Box-->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Listings</a></h4>
              <div class="designation">See Our List</div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/3.gif" alt="" />
              <!-- Overlay Box -->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href="">Property Pricing</a></h4>
              <div class="designation">Own Shares On Our properties</div>
            </div>
          </div>
        </div>

        <!-- Team Block -->
        <div class="team-block col-lg-3 col-md-6 col-sm-12">
          <div
            class="inner-box wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <div class="image">
              <img src="/assets/home/images/4.gif" alt="" />
              <!-- Overlay Box -->
              <div class="overlay-box">
                <div class="overlay-inner">
                  <div class="content">
                    <!-- Social Box 
									<ul class="social-box">
										<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
										<li class="linkedin"><a target="_blank" href="http://linkedin.com/" class="fa fa-linkedin"></a></li>
										<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
										<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
									</ul>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="lower-content">
              <h4><a href=""> Housing</a></h4>
              <div class="designation">
                Pick From Our Different Modern Designs
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Team Section -->
</section>

{% endblock content %}
