{% extends "layouts/home.html" %}<!---->
{% block title %} Login into your | {{domain}} {% endblock title %}<!----->
{% block content %}

<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url(/assets/home/images/background/3.jpg)"
>
  <div class="auto-container">
    <h1>Sign In</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>Sign In</li>
    </ul>
  </div>
</section>
<!-- End Page Title -->

<!-- Login Section -->
<div class="login-section">
  <div class="auto-container">
    <div class="inner-container">
      <!-- Title Box -->
      <div class="title-box">
        <div class="title">login</div>
        <h2>Login<span> Account</span></h2>
      </div>
      <!-- Login Form -->
      <div class="styled-form">
        <form method="post" name="mainform">
          {% csrf_token %}
          <table cellspacing="0" cellpadding="2" border="0">
            <div class="form-group">
              {{form.email}} {% if form.email.errors %}<!---->
              {% for error in form.email.errors %}

              <p class="invalid">{{error}}</p>
              {% endfor %} {% endif %}
            </div>
            <div class="form-group">
              {{form.password}} {% if form.password.errors %}<!---->
              {% for error in form.password.errors %}

              <p class="invalid">{{error}}</p>
              {% endfor %} {% endif %}
            </div>

            <div class="form-group">
              <div class="clearfix">
                <div class="pull-left">
                  <div class="check-box">
                    <input
                      type="checkbox"
                      name="remember-password"
                      id="type-1"
                    />
                    <label for="type-1">Remember password</label>
                  </div>
                </div>
                <div class="pull-right">
                  <a href="?a=forgot_password" class="forgot"
                    >Forget Password?</a
                  >
                </div>
              </div>
            </div>

            <div class="form-group text-center">
              <button
                type="submit"
                class="theme-btn btn-style-three"
                value="Login"
              >
                <span class="txt">Sign In</span>
              </button>
            </div>

            <div class="form-group">
              <div class="users">
                if you dont have an any account in here?
                <a href="{% url 'register' %}">Signup</a>
              </div>
            </div>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Login Section -->
{% endblock content %}
