{% extends "layouts/home.html" %}<!---->
{% block title %} Create a {{domain}} account {% endblock title %}<!----->
{% block style %}
<style>
  .invalid {
    color: red !important;
    text-align: left !important;
  }
</style>
{% endblock style %} {% block content %}

<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url(/assets/home/images/background/3.jpg)"
>
  <div class="auto-container">
    <h1>Register with us</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
      <li>Sign UP</li>
    </ul>
  </div>
</section>
<!-- End Page Title -->

<!-- Login Section -->
<div class="login-section">
  <div class="auto-container">
    <div class="inner-container">
      <!-- Title Box -->
      <div class="title-box">
        <div class="title">sign UP</div>
        <h2>Create Your <span>Account</span></h2>
      </div>

      <!-- Login Form -->
      <div class="styled-form style-two">
        <form method="post" name="regform">
          {% csrf_token %}

          <table cellspacing="0" cellpadding="2" border="0">
            <center>
              <div class="col">
                <div class="title-box">
                  <div class="title">
                    <!-- <h2>Personal <span>Data</span></h2> -->
                  </div>
                </div>
              </div>
              <div class="row align-item-center justify-content-center">
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  {{form.fullname}} {% if form.fullname.errors %}<!---->
                  {% for error in form.fullname.errors %}

                  <p class="invalid">{{error}}</p>
                  {% endfor %} {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  {{form.email}} {% if form.email.errors %}<!---->
                  {% for error in form.email.errors %}

                  <p class="invalid">{{error}}</p>
                  {% endfor %} {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  {{form.username}} {% if form.username.errors %}<!---->
                  {% for error in form.username.errors %}

                  <p class="invalid">{{error}}</p>
                  {% endfor %} {% endif %}
                </div>

                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  {{form.password1}} {% if form.password1.errors %}<!---->
                  {% for error in form.password1.errors %}

                  <p class="invalid">{{error}}</p>
                  {% endfor %} {% endif %}
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                  {{form.password2}} {% if form.password2.errors %}<!---->
                  {% for error in form.password2.errors %}

                  <p class="invalid">{{error}}</p>
                  {% endfor %} {% endif %}
                </div>
              </div>
            </center>

            <div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
              <input
                type="checkbox"
                name="agree"
                value="1"
                style="all: revert"
                required
              />
              I agree with <a href="#">Terms and conditions</a><br />
              <button
                type="submit"
                class="theme-btn btn-style-three mt-3"
                value="Register"
              >
                <span class="txt">Sign Up</span>
              </button>
            </div>

            <div class="form-group col-lg-12 col-md-12 col-sm-12">
              <div class="users">
                Already have an account?
                <a href="{% url 'login' %}">Sign In</a>
              </div>
            </div>
          </table>
        </form>
      </div>
    </div>
  </div>

  <!-- End Login Section -->
</div>
{% endblock content %}
