{% extends "layouts/home.html" %}<!---->
{% block title %} Your {{domain}} dashboard {% endblock title %}<!---->
{% block style %} {% endblock style %} {% block content %}

<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url(/assets/home/images/background/3.jpg)"
>
  <div class="auto-container">
    <h1>ACCOUNT DASHBOARD</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
    </ul>
  </div>
</section>
<!-- End Page Title -->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container" id="dasWrapper">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Sidebar Side -->
      {% include "components/dashboardsidebar.html" %}

      <!-- Content Side -->
      <div class="content-side col-lg-9 col-md-12 col-sm-12">
        <!-- News Detail -->
        <div class="news-detail">
          <div class="blog-author-box">
            <div class="col blog-author-box">
              <h3>
                Last logged in -
                <span class="text-danger h5">{{user.last_login}}</span>
              </h3>
            </div>

            <div class="rowy">
              <div class="user-statistic">
                <div class="user-statistic__item">
                  <div class="user-statistic__card">
                    <div class="user-statistic__icon st1--icon"></div>
                    <div class="user-statistic__value">
                      <span> $<b>{{user.balance}}</b> </span>
                    </div>
                    <div class="user-statistic__title">Total Balance</div>
                  </div>
                </div>
                <div class="user-statistic__item">
                  <div class="user-statistic__card">
                    <div class="user-statistic__icon st2--icon"></div>
                    <div class="user-statistic__value" id="load1">
                      <span> $<b>{{user.deposit_balance}}</b> </span>
                    </div>
                    <div class="user-statistic__title">deposits Balance</div>
                  </div>
                </div>
                <div class="user-statistic__item">
                  <div class="user-statistic__card">
                    <div class="user-statistic__icon st3--icon"></div>
                    <div class="user-statistic__value" id="load2">
                      <span> $<b>{{ earnings }}</b> </span>
                    </div>
                    <div class="user-statistic__title">Earnings</div>
                  </div>
                </div>
                <div class="user-statistic__item">
                  <div class="user-statistic__card">
                    <div class="user-statistic__icon st4--icon"></div>
                    <div class="user-statistic__value" id="load3">
                      <span> $<b>{{user.total_withdraw}}</b> </span>
                    </div>
                    <div class="user-statistic__title">Total withdrawn</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm blog-author-box">
                <h3 class="text-truncate">
                  User:
                  <small class="h4 text-danger">{{user.username}}</small>
                </h3>
              </div>
              <div class="col-sm blog-author-box">
                <h3>
                  <span class=" ">Date joined:</span>
                  <small class="h5 text-danger"
                    >{{user.date_joined|date:"M. d, Y"}}</small
                  >
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-sm blog-author-box">
                <h3 style="text-align: center">
                  Referral Code:
                  <span class="text-danger h5">{{user.unique_id}}</span>
                </h3>
              </div>
            </div>

            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
