{% extends "layouts/home.html" %}<!---->
{% block title %} Withdraw funds {% endblock title %}<!---->
{% block content %}

<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url(/assets/home/images/background/3.jpg)"
>
  <div class="auto-container">
    <h1>ACCOUNT DASHBOARD</h1>
    <ul class="page-breadcrumb">
      <li><a href="/">home</a></li>
    </ul>
  </div>
</section>
<!-- End Page Title -->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">
      <!-- Sidebar Side -->
      {% include "components/dashboardsidebar.html" %}

      <!-- Content Side -->
      <div class="content-side col-lg-9 col-md-12 col-sm-12">
        <!-- News Detail -->
        <div class="news-detail">
          <div class="blog-author-box">
            <h3>Withdraw</h3>
            <br />
            <div class="styled-form">
              <div class="row">
                <div class="col-sm blog-author-box">
                  <form action="">
                    <div class="form-group">
                      <label for="acctNumber">Account Number</label>
                      <input
                        type="text"
                        name="acctNumber"
                        id="acctNumber"
                        class="inpts"
                        size="30"
                        placeholder="account number"
                      />
                    </div>
                    <div class="form-group">
                      <label for="acctName">Account name</label>
                      <input
                        type="text"
                        name="acctName"
                        id="acctName"
                        class="inpts"
                        size="30"
                        placeholder="account name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="bankName">Bank name</label>
                      <input
                        type="text"
                        name="bankName"
                        id="bankName"
                        class="inpts"
                        size="30"
                        placeholder="bank name"
                      />
                    </div>
                    <div class="form-group">
                      <label for="amount">Amount</label>
                      <input
                        type="number"
                        name="amount"
                        id="amount"
                        class="inpts"
                        size="30"
                        placeholder="bank name"
                      />
                    </div>
                    <div class="form-group">
                      <h3 class="text-50">
                        Tip :
                        <small class="text-muted"
                          >Your withdrawal will be approved within a period of
                          6-12 Hours,Make sure you provide a correct bank
                          details. Your Current Balance Is :
                          <span class="text-warning">$0</span>
                        </small>
                      </h3>
                    </div>

                    <div class="form-group text-center">
                      <button type="submit" class="theme-btn btn-style-two">
                        <span class="txt">submit</span>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
